<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>

   <form method="POST" action="/team" id="Submit">
     <p><h2>Team Name: <input type="text" name="Team Name">
       <br></br> Coach: <input type="text" name="Coach">
      <br></br> Point Guard:  <input type="text" name="Point Guard">
        <br></br> Shooting Guard: <input type="text" name="Shooting Guard">
        <br></br>  Small Forward: <input type="text" name="Small Forward">
        <br></br> Power Forward: <input type="text" name="Power Forward">
        <br></br> Center: <input type="text" name="Center">
        <br></br> <input type="submit"></p>
      </form>
 </body>
</html>
